body {
  height: 100vh;
  background: linear-gradient(135deg, #F58427, #2798F5);
  font-family: 'Inter', sans-serif;
}

.card {
  border: none;
  border-radius: 12px;
}

.form-control {
  border-radius: 8px;
  padding: 10px;
}

.btn-dark {
  border-radius: 8px;
  padding: 10px;
}